<nav
  class="flex flex-col items-center sm:flex-row sm:justify-between p-2 px-10 mx-auto bg-orange-500"
>
  <div class="logo flex">
    <a href="">
      <img
        class="w-12"
        src="https://www.theodinproject.com/mstile-310x310.png"
        alt=""
      />
    </a>

    <h1 class="self-center text-white text-2xl font-extralight">
      Odin<span class="font-semibold">Storage</span>
    </h1>
  </div>

  <div class="links flex gap-5 items-center flex-grow-0 py-1">
    <a class="flex gap-2 text-white" href="/login"
      ><?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
      <svg
        width="20px"
        height="20px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="self-center"
      >
        <path
          d="M2.00098 11.999L16.001 11.999M16.001 11.999L12.501 8.99902M16.001 11.999L12.501 14.999"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.3531 21.8897 19.1752 21.9862 17 21.9983M9.00195 17C9.01406 19.175 9.11051 20.3529 9.87889 21.1213C10.5202 21.7626 11.4467 21.9359 13 21.9827"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>

      <span class="text-base font-extralight">Login</span></a
    >
    <a
      class="flex gap-2 text-white"
      href="/sign-up"
      <?xml
      version="1.0"
      encoding="utf-8"
      ?
    >
      <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
      <svg
        width="20px"
        height="20px"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>i</title>
        <g id="Complete">
          <g id="user-add">
            <g>
              <path
                d="M17,21V19a4,4,0,0,0-4-4H5a4,4,0,0,0-4,4v2"
                fill="none"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              />
              <circle
                cx="9"
                cy="7"
                r="4"
                fill="none"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              />
              <line
                x1="17"
                y1="11"
                x2="23"
                y2="11"
                fill="none"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              />
              <line
                x1="20"
                y1="8"
                x2="20"
                y2="14"
                fill="none"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              />
            </g>
          </g>
        </g>
      </svg>

      <span class="text-base font-extralight">Sign up</span></a
    >
  </div>
</nav>
